@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box; }

html,
body {
    min-height: 100vh; 
     }

body {
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0;
    padding: 0; }

h1{
    color: #36485e;
}

h3{
    text-align: center;
}

ul,
ol {
    padding: 0;
    margin: 3%; }

img {
    max-width: 100%;
    height: auto;
    vertical-align: top; }
	
ol {
	font-weight: 500;
	line-height: 1.3;
}
ul{
    list-style: none;
	line-height: 2;
	font-weight: normal;
}

p {
	font-weight: normal;
	line-height: 2;
}

.aside-nav__img img{
	width: 321px;
}
.deadline td, .deadline th {
    padding: 3px;
    text-align: left;
    font-weight: 500;
}
.deadline table{
   border-collapse: collapse;
   width: 90%;
}

.deadline tbody tr:nth-child(odd){
	background-color: #ffff66;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; }

.page-header {
    padding: 15px 0; }
.page-header__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.page-header__left {
    width: 90%;
    padding: 0 15px; }
.page-header__right {
    width: 10%;
    padding: 0 15px; }
.page-header__title {
    text-align: center;
    margin-top: 20px; }
.page-header__title a {
    transition: color 150ms ease-in-out;
    text-decoration: none;
    color: #3e7fe0;
    font-size: 24px;
    font-weight: 700; }
.page-header__date {
    font-weight: 700;
    color: #454545;
    font-size: 18px;
    text-align: right;
    margin-top: 10px; }
.page-header__downloads {
    list-style: none; }
.page-header__downloads li {
    margin-bottom: 10px; }
.page-header__link {
    color: #3e7fe0;
    font-size: 16px;
    font-weight: 700; }
.page-header__link img {
    width: 18px; }

.content {
    padding: 70px 0; }
.content__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.aside-nav {
    width: 22.5%;
    padding: 0 15px; }

.main-nav {
    margin-bottom: 15px; }
.main-nav__list {
    list-style: none; }
.main-nav__item {
    border-bottom: 1px solid #D4D4D4;
    transition: all 150ms ease-in-out; }
.main-nav__item:last-child {
    border-bottom: none; }
.main-nav__link {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    font-weight: 500;
    line-height: 1;
    color: #3e7fe0;
    transition: all 150ms ease-in-out;
    position: relative;
    padding-left: 10px; }
.main-nav__link.active {
    background: #f5f5f5;
    color: #121212; }
.main-nav__link.active::before {
    color: #454545; }
.main-nav__link:hover {
    background: #f5f5f5;
    color: #121212; }
.main-nav__link:hover::before {
    color: #454545; }
.main-nav__link::before {
    content: '›';
    transition: all 150ms ease-in-out;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    margin-right: 5px;
    color: #3e7fe0;
    font-size: 24px;
    line-height: 1; }

.articles {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px; }

.article {
    padding-bottom: 15px; }
.article h2 {
    color: #454545;
    font-size: 27px;
    margin-top: 0; }
.article p {
    font-size: 16px;
    font-weight: 500;
    color: #888;
    line-height: 2; }
.article img {
    margin: 16px 0; }

.page-footer {
    padding: 40px 0;
    background: #212121; }
.page-footer__info {
    color: #555;
    font-weight: 500;
    text-align: center; }

.page-footer__validators {
    display: flex;
    justify-content: center;
}

.md-text{
    text-align: center;
}


/*programmcommitee.md*/
.co-chairmen,
.chairmen,
.scientific-secretary {
    display: flex;
    justify-content: center;
}

.members-box {
    display: flex;
    justify-content: center;
}

.members-first,
.members-two {
    text-align: left;
}
/*end*/


.organized {
    font-size: 16px;
    line-height: 1.4;

}
.organized p{
    text-align: center;
    font-weight: 500;
    line-height: 1.4;

}
.page-header__downloads img{
	width: 38%;
}


/* Mobile menu */
.mobile-menu {
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: #343a40;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
  }

  .topnav a.icon {
    background: #343a40;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #8a8a8a;
    color: black;
  }

  .active {
      height: 55px;
    background-color: #343a40;
    color: white;
  }

@media only screen and (max-width: 600px) {
    .aside-nav {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .content {
        padding-top: 0;
        padding-bottom: 50px;
    }

    .members-box {
        display: block;
    }
}