<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>International conference</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

</head>
<body class="main-page">

<header class="page-header">
    <div class="container">
        <div class="page-header__inner">
            <div class="page-header__left">
                <h3 class="page-header__title">
                    <a href="/">
                          V INTERNATIONAL CONFERENCE“IN-SERVICE DAMAGE OF MATERIALS, <br> ITS DIAGNOSTICS AND PREDICTION“"DMDP-V"
                    </a>
                </h3>
                <h4 class="page-header__date">
                    September 19-22, 2017
                </h4>
            </div>
            <div class="page-header__right">
                <ul class="page-header__downloads">
                    <li>
                        <a href="https://drive.google.com/file/d/0B8_p99T4-ZoBR1F6dVd6V3hWUlE/view" class="page-header__link" target="_blank">
                            <img src="{{ site.baseurl }}/assets/img/download-icon.jpg" alt="download">
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/0B8_p99T4-ZoBR1F6dVd6V3hWUlE/view" class="page-header__link" target="_blank">
                            First
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/0B8_p99T4-ZoBR1F6dVd6V3hWUlE/view" class="page-header__link" target="_blank">
                            Announcement
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="content">
    <div class="container">
        <div class="content__inner">

            <aside class="aside-nav">
                <nav class="main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__item">
                            <a href="/" class="main-nav__link">
                                General Information
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/deadlines/" class="main-nav__link">
                                Deadlines
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/organizedby/" class="main-nav__link">
                                Organized by
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/programmcommittee/" class="main-nav__link">
                                Program Committee
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/RegistrationForm/" class="main-nav__link">
                                Registration form
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/fee/" class="main-nav__link">
                                Fee
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/contacts/" class="main-nav__link">
                                Contacts
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="aside-nav__img">
                    <a href="/" class="aside-nav__picture-link">
                        <img src="{{ site.baseurl }}/assets/img/conference-logo.png" alt="aside img">
                    </a>
                </div>
            </aside>

            <div class="articles">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <p class="page-footer__info">
            Copyright © Ternopil Ivan Pul’uj National Technical University 2017 All rights reserved
        </p>
    </div>
</footer>

</body>
</html>
