<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VI International conference</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-97994869-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>

</head>
<body class="main-page">

<header class="page-header">
    <div class="container">

        <div class="mobile-menu">

            <!-- Top Navigation Menu -->
            <div class="topnav">
                <a href="#home" class="active">Menu</a>
                <div id="myLinks">
                    <ul class="main-nav__list">
                        <li class="main-nav__item">
                            <a href="/" class="main-nav__link">
                                General Information
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/deadlines/" class="main-nav__link">
                                Deadlines
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/organizedby/" class="main-nav__link">
                                Organized by
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/programmcommittee/" class="main-nav__link">
                                Program Committee
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/RegistrationForm/" class="main-nav__link">
                                Registration form
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/fee/" class="main-nav__link">
                                Fee
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/contacts/" class="main-nav__link">
                                Contacts
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/assets/docs/Program-DMDP-2019.pdf" class="main-nav__link" target="_blank">
                                Conference Program
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <img src="../assets/img/icon-mobile-menu.png" width="25" alt="icon-mobile-menu">
                </a>
            </div>   

        </div>

        <div class="page-header__inner">
            <div class="page-header__left">
                <h3 class="page-header__title">
                    <a href="/">
                          VI INTERNATIONAL CONFERENCE<br>“IN-SERVICE DAMAGE OF MATERIALS,ITS<br>DIAGNOSTICS AND PREDICTION“<br>"DMDP-2019"
                    </a>
                </h3>
                <h4 class="page-header__date">
                    September 24-27, 2019
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="content">
    <div class="container">
        <div class="content__inner">

            <aside class="aside-nav">
                <nav class="main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__item">
                            <a href="/" class="main-nav__link">
                                General Information
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/deadlines/" class="main-nav__link">
                                Deadlines
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/organizedby/" class="main-nav__link">
                                Organized by
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/programmcommittee/" class="main-nav__link">
                                Program Committee
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/RegistrationForm/" class="main-nav__link">
                                Registration form
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/fee/" class="main-nav__link">
                                Fee
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/contacts/" class="main-nav__link">
                                Contacts
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a href="/assets/docs/Program-DMDP-2019.pdf" class="main-nav__link" target="_blank">
                                Conference Program
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="aside-nav__img">
                    <a href="/" class="aside-nav__picture-link">
                        <img src="{{ site.baseurl }}/assets/img/conference-logo.jpg" alt="aside img">
                    </a>
                </div>
            </aside>

            <div class="articles">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <p class="page-footer__info">
            Copyright © <a href="http://tntu.edu.ua" class="page-header__link" target="_blank">Ternopil Ivan Pul’uj National Technical University</a> 2019 All rights reserved
        </p>
        <div class="page-footer__validators">
            <p>
                <a href="https://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                        src="https://jigsaw.w3.org/css-validator/images/vcss"
                        alt="Правильний CSS!" />
                </a>
            </p>
                 
            <p>
                <a href="https://validator.w3.org/check?uri=referer">
                    <img src="http://www.w3.org/Icons/valid-xhtml10"
                        alt="Valid XHTML 1.0!" height="31" width="88" />
                </a>
            </p>
        </div>
    </div>
</footer>


</body>
</html>
