*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  min-height: 100vh; }

body {
  background: #fff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0; }

ul,
ol {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.page-header {
  padding: 15px 0; }
  .page-header__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .page-header__left {
    width: 90%;
    padding: 0 15px; }
  .page-header__right {
    width: 10%;
    padding: 0 15px; }
  .page-header__title {
    text-align: center; }
    .page-header__title a {
      transition: color 150ms ease-in-out;
      text-decoration: none;
      color: #3e7fe0;
      font-size: 24px;
      font-weight: 700; }
  .page-header__date {
    font-weight: 700;
    color: #454545;
    font-size: 18px;
    text-align: right; }
  .page-header__downloads {
    list-style: none; }
  .page-header__link {
    color: #3e7fe0;
    font-size: 16px;
    font-weight: 700; }
